@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-foreground: #FFFFFF;

  --color-secondary: #F3F4F6;
  --color-secondary-foreground: #1F2937;

  --color-accent: #3B82F6;
  --color-accent-foreground: #FFFFFF;

  --color-background: #FFFFFF;
  --color-foreground: #0F172A;

  --color-muted: #F1F5F9;
  --color-muted-foreground: #64748B;

  --color-card: #FFFFFF;
  --color-card-foreground: #0F172A;

  --radius: 0.5rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  }
}